{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <style>
        #registration_form div { margin: 15px; }
        input { margin-left: 15px; }
    </style>
    <h1>Register</h1>

    {{ form(registrationForm) }}
{% endblock %}
